<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% if current_user.administrator? %>
    <%= link_to "Usuarios", users_path %>
    <%= link_to "Edificios", buildings_path %>
<% end %>
<h1>Bienvenidos<h1>
