<h1>Editing technical</h1>

<%= render "form", technical: @technical %>

<br>

<div>
  <%= link_to "Show this technical", @technical %> |
  <%= link_to "Back to technicals", technicals_path %>
</div>
